/* 폰트 로드 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@font-face {
  font-family: "NeoDungGeunMo";
  font-style: normal;
  font-weight: 400;
  src: url(../_shared/fonts/neodgm.ttf);
}


/* 위치 기본 설정 */
html	{	overflow:hidden; }
body	{	position:absolute; margin:0;
				right:0; left:0; bottom:0; }

/* 최대(기본) 크기는 112px */
img									{	image-rendering:pixelated; }
img.twitch_emote		{	max-height:45px; }
img.dccon						{	max-height:90px; }
.chat_badge_box img	{ height:16px; image-rendering: auto; }



/* 구독자 및 후원 메세지 설정 */
@keyframes SubsAni {
	1%, 49%		{ color:red; }
	50%				{ color:white; }
}
.chat_subscribe_box,
.chat_cheer_box										{	text-align:center; 
																		animation:SubsAni 6 1s ease; }
/* 후원 금액 */
.chat_cheer_text									{ color:red; display:inline-block; }
/* 후원 아이콘 */
.chat_cheer_text img.cheer_icon		{	max-height:1em; vertical-align: middle; }



/* 배경 설정. 전체적인 배경이 필요할 때 이용 */
#background	{	position:absolute; left:0; right:0; top:0; bottom:0; }



/* 폰트 설정 */
html								{	font-family:'cwtexyen', 'NeoDungGeunMo', sans-serif;
											font-size:19px; color:white; font-smooth:never;
											text-shadow: 3px 2px black;}


.chat_outer_box			{	border-image-source:url("blob.png");
											border-image-repeat:round;
											border-image-slice:30;
											border-width:18px; border-style:solid;
											position:relative; z-index:0; overflow:hidden;
											margin-top:8px; padding:4px; background-color: #004060; }
.chat_inner_box,
.chat_upper_box			{	margin-bottom:3px; }
											
.chat_nickname_box,
.chat_badge_box 		{	display:inline-block; }
.chat_badge_box			{ float:right; }
.chat_outer_box .chat_msg_box,
.chat_lower_box			{ clear:right; }

.chat_msg_box							{	white-space:pre-line; word-break:break-word;
														max-height:90px; }
.chat_msg_box.image_only	{	text-align:center; }



/* 클립이 포함된 채팅 메세지에 대한 설정 */
.clip_included .chat_msg_box	{	max-height:160px; }
.chat_clip_box								{	position:relative; }	

.chat_clip_box img				{	height:56px; float:left; }
.chat_clip_title					{	line-height:56px; text-align:center;
														white-space:pre; overflow:hidden;
														text-overflow:ellipsis; }
.chat_clip_by							{	position:absolute; bottom:0; right:0;
														font-size:0.7em; }
.chat_clip_box.text_only	{	text-align:center; }