<?xml version="1.0" encoding="utf-8">
<DataIO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Font>
		<!-- 기본 글꼴 크기를 설정합니다. px를 사용해주세요. -->
		<Size>"20px"</Size>
	</Font>
	<!-- 이름 색깔을 트위치 채팅색에 맞추기를 허용합니다. -->
	<AllowPersonalColor>true</AllowPersonalColor>
	
	<!-- 메세지의 
</DataIO>